/* montserrat és sacramento szövegtípus, még nem vettük */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sacramento&display=swap');


body{
    font-family: montserrat;
    padding:0;
    margin: 0;
}
img{
    width: 200px;
    float: left;
    margin-right: 20px;
    border-radius: 100%;
}
h1{
    font-size: 5rem;
    margin-bottom: 0px;
    color: #66bfbf;
    font-family: sacramento;
}
h2{
    font-size: 3rem;
    margin: 0;
    color: #66bfbf;
    font-family: sacramento;
}
p{
    text-align: justify;
}

.title{
    padding: 5% 15%;
    text-align: center;
    background-color:#eaf6f6;
}
.szoveg{
    padding:6% 20%;
}


